*{
    margin:0px;
    padding:0px;
    font-family: arial;
}
.heading{
    background-color: rgb(252, 250, 247);
    height:5rem;
    width:100%;
    display: flex;
    align-items: center;
    border-bottom: 2px solid rgb(207, 146, 146);
    display: flex;
    position: fixed;
    top: 0rem;
}
.name{
    font-size: 1.7rem;
    color:black;
    font-weight: bolder;
    font-family: arial;
    margin-left: 0.5rem;
}
.heading i{
    font-size: 3rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    color:rgb(202, 113, 113);

}

/** hero section  **/
.hero-div{
    background-color: rgb(222, 232, 229);
    height:700px;
    width: 100%;
    padding-left: 3rem;
}
.divimli{
    display:flex;
}
.hero-div1{
    color:rgb(185, 70, 70);
    font-size: 1.rem;
    font-weight: 800;
    padding-top:8rem;
}
.hero-div2{
    height:470px;
    width:40%;
    font-size: 4rem;
    font-weight: 800;
}
.hero-div3{
    background-image: url("herocoa.png");
    background-size: cover;
    height:470px;
    width:40%;
    padding-left:10rem;
    padding-bottom: 4rem;
}

/**  program  **/
.program{
    background-color: rgb(222, 232, 229);
    height:350px;
    width:100%;
    padding-left: 3rem;
}
.aboutprogram{
    font-size: 1.2rem;
    font-weight: 800;
    width:40%;
}
.aboutcoaching{
    display: flex;
    padding-top: 2rem;
}
.about-box1{
    background-color: white;
    border:2px solid rgb(247, 239, 239);
    height:100px;
    width:30%;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    color:rgb(7, 114, 78);
    font-weight: bolder;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-box2{
    background-color: white;
    border:2px solid rgb(247, 239, 239);
    height:100px;
    width:30%;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    color:rgb(7, 114, 78);
    font-weight: bolder;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-box3{
    background-color: white;
    border:2px solid rgb(247, 239, 239);
    height:100px;
    width:30%;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    color:rgb(7, 114, 78);
    font-weight: bolder;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.teaching{
    background-color:rgb(144, 205, 178);
    height:500px;
    padding-left: 3rem;
    width:100%;
}
.teaching1{
    color:rgb(202, 113, 113);
    font-weight: 800;
    font-size: 2rem;
}
.teaching2{
    font-weight: 800;
    font-size: 3rem;
    width:70%;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 1rem;
}
.teachingboxes{
    display: flex;
}
.teachingbox1{
    border:2px solid rgb(247, 239, 239);
    height:200px;
    width:30%;
    margin-top: 2rem;
    background-color: white;
    border-radius: 10px;
    padding-top: 2rem;
    padding-left: 1rem;
    margin-right: 1rem;
}
.number{
    color:rgb(202, 113, 113);
    font-weight: 800;
}
.teachingbox1 p{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
.teachingbox2{
    border:2px solid rgb(247, 239, 239);
    height:200px;
    width:30%;
    margin-top: 2rem;
    background-color: white;
    border-radius: 10px;
    padding-top: 2rem;
    padding-left: 1rem;
    margin-right: 1rem;
}
.teachingbox2 p{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
.teachingbox3{
    border:2px solid rgb(247, 239, 239);
    height:200px;
    width:30%;
    margin-top: 2rem;
    background-color: white;
    border-radius: 10px;
    padding-top: 2rem;
    padding-left: 1rem;
}
.teachingbox3 p{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
.approach{
    background-color:rgb(222, 232, 229) ;
    height:650px;
    padding-left: 3rem;
    width:100%;
}
.approach1{
    color:rgb(202, 113, 113);
    font-weight: 800;
    font-size: 2rem;
}
.approach2{
    font-weight: 800;
    font-size: 5rem;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 1rem;
}
.approach3{
    font-weight: 100;
    font-size: 1.2rem;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 2rem;
}
.divapproach{
    display:flex;
    justify-content: space-evenly;
}
.approachboxes{
    display: flex;
    flex-wrap: wrap;
}
.approachbox1{
    border:2px solid rgb(247, 239, 239);
    background-color: white;
    height:150px;
    width:100%;
    border-radius: 10px;
    margin-bottom: 1rem;
}
.approachbox1 p i{
    font-size: 2rem;
    color:rgb(7, 114, 78);
}
.approachbox1 p{
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.approachbox2{
    border:2px solid rgb(247, 239, 239);
    background-color: white;
    height:150px;
    width:100%;
    border-radius: 10px;
    margin-bottom: 1rem;
}
.approachbox2 p i{
    font-size: 2rem;
    color:rgb(7, 114, 78);
}
.approachbox2 p{
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.approachbox3{
    border:2px solid rgb(247, 239, 239);
    background-color: white;
    height:150px;
    width:100%;
    border-radius: 10px;
}
.approachbox3 p i{
    font-size: 2rem;
    color:rgb(7, 114, 78);
}
.approachbox3 p{
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.client{
    background-color:rgb(222, 232, 229)  ;
    height:500px;
    padding-left: 3rem;
    width:100%;
}
.client1{
    color:rgb(202, 113, 113);
    font-weight: 800;
    font-size: 2rem;
}
.client2{
    font-weight: 800;
    font-size: 3rem;
    font-family: 'Times New Roman', Times, serif;
    width: 40%;
    margin-top: 1rem;
}
.clientboxes{
    display: flex;
}
.clientbox1{
    border:2px solid rgb(247, 239, 239);
    background-color: white;
    height:100px;
    width:40%;
    margin-top: 2rem;
    padding-top: 1.2rem;
    border-radius: 10px;
    margin-right: 2rem;
}
.clientbox1 p{
    font-size: 1.2rem;
    font-weight: 600;
    padding-top: 2rem;
}
.clientbox2{
    border:2px solid rgb(247, 239, 239);
    background-color: white;
    height:100px;
    width:40%;
    margin-top: 2rem;
    padding-top: 1.2rem;
    border-radius: 10px;
}
.clientbox2 p{
    font-size: 1.2rem;
    font-weight: 600;
    padding-top: 2rem;
}

/**   faculty  **/
.faculty{
    background-color:rgb(144, 205, 178);
    height: 600px;
    width:100%;
}
.faculty1{
    color:rgb(202, 113, 113);
    font-weight: 800;
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-left: 3rem;
   
}
.facultyboxes{
    display: flex;
}
.facultybox1{
    border:2px solid rgb(247, 239, 239);
    background-color: white;
    height:300px;
    width:30%;
    margin-top: 2rem;
    padding-top: 1.2rem;
    border-radius: 10px;
    margin-left: 3rem;
    margin-right: 1rem;
}
.facultysymbol{
    color:rgb(202, 113, 113);
    font-size: 3rem;
    font-weight: 600;
    margin-left: 2rem;
}
.facultyname{
    font-size: 2rem;
    font-weight: 700;
    color:rgb(7, 114, 78) ;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 3rem;
    text-decoration: underline;
    margin-left: 1rem;
}
.facultyabout{
    font-size: 1.5rem;
    font-weight: 300;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 2rem;
    margin-left: 1rem;
}
.enquiry{
    background-color: rgb(35, 84, 68);
    height: 500px;
    padding-left: 3rem;
    width: 100%;
}
.details{
    color: rgb(161, 71, 71);
    font-size: 2rem;
    font-weight: 700;
    padding-top: 1rem;
}
.aboutenquiry{
    width:30%;
    color:white;
    font-size: 4rem;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 2rem;
}
.enquiryall{
    display:flex;
}
.enquirynumber{
    border:2px solid rgb(247, 239, 239);
    background-color: white;  
    margin-left: 10rem; 
    width: 50%;
    border-radius: 10px;
}
.contact{
    font-size: 2rem;
    font-weight: 500;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.email{
    font-size: 2rem;
    font-weight: 500;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.greating{
    font-size: 4rem;
    font-weight: 500;
    text-align: center;
    margin-top: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.copyright{
    font-weight: 300;
    font-size: 1rem;
    text-align: center;
    margin-top: 10rem;
    text-decoration: underline;

}
